<!DOCTYPE html>
<html>
<head>
  <title>
    Error
  </title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <style>
  body{
  background-color: lightgrey;
}
h2{
  color:red;
}
  </style>
</head>
<body>
  <div class="container-fluid">
    <h2>Error!</h2>
  {{problem}}</br>
  {{message}}</br>
  <strong><a href="{{address}}"> Try again </a></strong>
</div>
</body>
</html>
