<!DOCTYPE html>
<html>
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<meta charset="ISO-8859-1">
<title>Our Ships</title>
</head>
<body>
<div class="container-fluid">
  {% load static %}
<h2>Larry's Luxury Liner</h2>
<img src="{% static "redneck1/redneckboat1.jpg" %}" height=300px>
<p>A top of the line cruiser with a stunning top speed of 0.006 Knots and smooth transition, it offers incomparable amenities.</p>
<h2>Sherman's Splendor Ship</h2>
<img src="{% static "redneck1/redneckboat2.jpg" %}" height=300px>
<p>This beautiful clipper offers the getaway of a lifetime, sailing through majestic Paris, Arkansas; Rome, Tennesse; And Mobile, Alabama!</p>
<h2>Billy Bob's Best of the Best Barge</h2>
<img src="{% static "redneck1/redneckboat3.jpg" %}" height=300px>
<p> This remarkable oceanfaring piece of technological flotation offers nothing but the most extravagant, opulent means of touring the nation's great bodies of water, such as Dirginockany Swamplake.</p>
</div>
</body>
</html>
