<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Our Crew</title>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
  <div class="container-fluid">
  {% load static %}
<h2>The Captain: One Eye Mcgruffin</h2>
<img src="{% static "redneck1/oneeye.jpg" %}" height=300px>
<p> This here's good old One Eye. Under his stable leadership, our ships have weathered storms, mutinees, and a dangerously low supplies of PBR. You know your in good hands when your ship is captained by old One Eye here.</p>
<h2>The First Mate: Tripper </h2>
<img src="{% static "redneck1/seedy.jpg" %}" height=300px>
<p>Even though Tripper doesn't quite sport the intelligence the Captain does, he's still a good man in a pinch let me tell you. That boy Seedy from the other side of town came sneaking around trying to stick it in my sister and it became a real crop duster on the block if you know what I mean.</p>
<p> Just about everyone from the whole area turned up to throw down, whole lotta of the assorted weaponry's too. Probably would of lost my head to a cannonball if it weren't not for good Tripper here. Saved my life he did.</p>
<h2>The Cook: Beau</h2>
<img src="{% static "redneck1/beauty.jpg" %}" height=300px>
<p>We call her beaut cause she's such a great beauty ya know. Even though it's a distraction for both customers and crew having such an angel onboard, we keep her around cause of her top of the line cooking skils. She cooks the best damn roadkill, or squirrel shilley you ever had, let me tell you.</p>
<h2> The coxswain: Ace Jerry </h2>
<img src="{% static "redneck1/acejerry.jpg" %}" height=300px>
<p> The newest member of our crew, he's a young'n and still has to get his swamp legs about him but just based off his name alone, we know he's gonna be one of our best! </p>
</div>
</body>
</html>
