{% extends 'redneck1/merchbase.html' %}
{% load static %}
{% block title %} Piece of Ship Technologies T {% endblock %}
{% block tname %} Fine Flotational Technologies T Shirt {% endblock %}
{% block color %} Maroon {% endblock %}
{% block img %}<img src="{% static "redneck1/pieceofship.jpg" %}" class="img-responsive center-block" height=600px></img>{% endblock %}
{% block description %} Show your a fan of Piece of Ship Technology. True purveyors of top of the line flotational technology. It's run by my cousin Lenny
and he's one of the main builders for Redneck Cruises.</br> In fact, he supplied us with <a href="/ships">Billy Bob's Best of the Best Barge.</a>{% endblock %}
{% block options %}
<option value="pieceofship_S">S</option>
<option value="pieceofship_M">M</option>
<option value="pieceofship_L">L</option>
{% endblock %}
