{% extends 'redneck1/merchbase.html' %}
{% load static %}
{% block title %} Remember Burt Reynolds T {% endblock %}
{% block tname %} Never Forget T Shirt {% endblock %}
{% block color %} Navy {% endblock %}
{% block img %}<img src="{% static "redneck1/smokey.jpg" %}" class="img-responsive center-block" height=600px></img>{% endblock %}
{% block description %} We all grew up with Smokey and the Bandit and we know what a great gift good ol' Burt gave to society. It's our duty as patrons of bars and
honky tonks across the south to remember his sacrifice. Never forget.{% endblock %}
{% block options %}
<option value="smokey_S">S</option>
<option value="smokey_M">M</option>
<option value="smokey_L">L</option>
{% endblock %}
