{% extends 'redneck1/merchbase.html' %}
{% load static %}
{% block title %} Swamplife Tank Top {% endblock %}
{% block tname %} Swamplife Tank Top {% endblock %}
{% block color %} Navy {% endblock %}
{% block img %}<img src="{% static "redneck1/swamplife.jpg" %}" class="img-responsive center-block" height=600px></img>{% endblock %}
{% block description %} It's all about the swamp life ya'll. Let em know how we do it down here in Dirginockany. Now with 100% less sleeves!
Let em get a good look at those guns brother- gotta protect the first amendment.{% endblock %}
{% block options %}
<option value="swamplife_S">S</option>
<option value="swamplife_M">M</option>
<option value="swamplife_L">L</option>
{% endblock %}
