{% extends 'redneck1/merchbase.html' %}
{% load static %}
{% block title %} No place like home Tank {% endblock %}
{% block tname %} No place like home Tank {% endblock %}
{% block color %} Navy {% endblock %}
{% block img %}<img src="{% static "redneck1/swmplke.jpg" %}" class="img-responsive center-block" height=600px></img>{% endblock %}
{% block description %} Cause your not in Kansas anymore Dorothy! Welcome to Dirginockany Swamplake, where Jim Bob's sister is always happy to see you
and Bubba's always serving some gator and the PBR flows freely.</br> Show your friends you represent. Now with 100% less sleeves! {% endblock %}
{% block options %}
<option value="swamplake_S">S</option>
<option value="swamplake_M">M</option>
<option value="swamplake_L">L</option>
{% endblock %}
